<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stubbs BBQ</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static', filename='one-page-wonder.css') }} rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href={{ url_for('index') }}>Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style= "width:302px; background-color:#222222; border:none;">
                    <li>
                        <a href={{ url_for('about') }}>About</a>
                    </li>
                    <li>
                        <a href={{ url_for('bands') }}>Bands</a>
                    </li>
                    <li>
                        <a href={{ url_for('venues') }}>Venues</a>
                    </li>
                    <li>
                        <a href={{ url_for('festivals') }}>Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Stubbs BBQ</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/aboutstubbs.jpg">
            <h2 class="featurette-heading">About
            <span class="text-muted">Stubbs BBQ</span>
            </h2>
            <p class="lead">A local favorite for great live music and even better BBQ. Stubbs BBQ is a great destination point for the local and the tourist. Originally a Lubbock restaurant in 1968, Stubbs BBQ transformed to one of the foundations of music in Texas. Musicians such as Stevie Ray Vaughn and Willie Nelson have played the venue and it continues to host concerts many nights of the week. The original Lubbock location is closed, but at 801 Red River St, one can find some amazing music and food and experience one of the greatest locations in Austin. <br><br>

            </p>
        </div>

        <hr class="featurette-divider">

        <!-- middle Featurette -->

          <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-right" height = "400" width="400" src="../../static/img/austinpic.jpg" >
            <h2 class="featurette-heading">What Local Artists 
                <span class="text-muted">Have Played Here?</span>
            </h2>
            <p class="lead">
                <a href={{ url_for('bio', bio_name='mohawk') }}>Mohawk</a><br>
                <a href="https://ballerino666.bandcamp.com/">Ballerino</a><br>
                </p>
        </div> 
        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" height = "400" width="400" src="../../static/img/stubbsfood.jpg" >
            <h2 class="featurette-heading">Food
                <span class="text-muted">Menu</span>
            </h2>
            <p class="lead">
                                <a href= "http://www.stubbsaustin.com/menus"> Full Menu </a>
                                <br>
                                <b>Appetizers</b><br>
                                Fried Green Tomatoes $8.95<br>
                                Fresh Stuffed Jalapenos $8.95<br>
                                Buffalo Wings $6.95/$11.95<br>
                                <br>
                                <br>
                                <br>
                                <b>Texas BBQ</b><br>
                                Angus Beef Brisket<br>
                                Chicken<br>
                                Pork Spare Ribs<br>
                                Sausage<br>
                                Turkey Breast<br>
                                Chopped Beef<br>
                                Pulled Pork<br>
                                <br>
                                <b>BBQ Plates</b><br>
                                Stubb's Major- Any 3 Meats & 2 Sides $18.95<br>
                                Stubb's Minor- Any 2 Meats & 2 Sides $16.95
                                <br>
                                Bar-B-Q Plate- 1 Meat & 2 sides $14.95
                                <br>
                                </p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/livestubbs.jpg">
            <h2 class="featurette-heading">Upcoming Events
                <span class="text-muted">That you'll love</span>
            </h2>
            <p class="lead">
                <b>Passenger</b><br>
                Thursday, April 6th<br>
                <b>Drive by Truckers</b><br>
                Saturday, April 8th<br>
                <b>Glass Animals</b><br>
                Monday, April 10th

</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Content from <a href="https://spiderhouse.com/">Stubbs BBQ Official Site</a> </p>
                    <p>Images from <a href="http://vp.cdn.cityvoterinc.com/g/00-00-06-65-14-95-6651495_2140754.jpg">Google images</a> </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
