<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Sword</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static', filename='one-page-wonder.css') }} rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href={{ url_for('index') }}>Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style= "width:302px; background-color:#222222; border:none;">
                    <li>
                        <a href={{ url_for('about') }}>About</a>
                    </li>
                    <li>
                        <a href={{ url_for('bands') }}>Bands</a>
                    </li>
                    <li>
                        <a href={{ url_for('venues') }}>Venues</a>
                    </li>
                    <li>
                        <a href={{ url_for('festivals') }}>Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>The Sword</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/aboutthesword.jpg">
            <h2 class="featurette-heading">About
            <span class="text-muted">The Sword</span>
            </h2>
            <p class="lead">The Sword is an American heavy metal band from Austin, Texas. Formed in 2003, the band is currently composed of vocalist and guitarist John D. Cronise, guitarist Kyle Shutt, bassist Bryan Richie and drummer Santiago "Jimmy" Vela III. Originally signed to Kemado Records, the group released its debut album Age of Winters in 2006, the material for which had been largely written by Cronise prior to the band's formation. Gods of the Earth was released two years later, giving the group its first entry on the US Billboard 200 chart.<br><br>

            In 2010 the band released Warp Riders, a concept album centered on an original science fiction narrative, which marked the first time the group had enlisted an external producer – Matt Bayles. Original drummer Trivett Wingo left the group later in the year and was replaced briefly by Kevin Fender, before Vela joined in 2011. After signing with Razor & Tie in 2012 the group released its fourth album Apocryphon, which was promoted worldwide on the Apocryphon Tour. The band's fifth album, High Country, was released in 2015.<br><br>

            The Sword has been categorized as a stoner rock and doom metal band, and is influenced by groups such as Black Sabbath and Sleep. The band has toured with a wide range of fellow rock and metal artists since its formation, including Metallica, Lamb of God and Clutch, and in recent years has also headlined its own tours. The Sword's first album Age of Winters failed to chart, but subsequent releases have all gained increasing commercial success in the US and the UK, with High Country also charting in other regions. <br><br> Last year, The Sword headlined at <a href="../festival_folder/bio_sxsw.html">SXSW</a></p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" height = "400" width="400" src="../../static/img/membersthesword.jpeg" >
            <h2 class="featurette-heading">Current
                <span class="text-muted">Members</span>
            </h2>
            <p class="lead">John D. Cronise – vocals, guitars (2003–present)<br>
                            Kyle Shutt – guitars (2003–present)<br>
                            Bryan Richie – bass, synthesizers (2004–present)<br>
                            Santiago "Jimmy" Vela III – drums, percussion (2011–present)<br>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/songsthesword.jpg">
            <h2 class="featurette-heading">Discography
                <span class="text-muted">That you'll love</span>
            </h2>
            <p class="lead">Age of Winters (2006)<br>
                            Gods of the Earth (2008)<br>
                            Warp Riders (2010)<br>
                            Apocryphon (2012)<br>
                            High Country (2015)</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <link rel="stylesheet" href={{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}>

                    <!-- Add font awesome icons -->
                    <p>Follow The Sword <br>     
                    <a href="https://www.facebook.com/theswordofdoom/" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/thesword?lang=en" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/theswordofficial/" class="fa fa-instagram"></a></p>

                    <p>Content from <a href="https://en.wikipedia.org/wiki/The_Sword">The Sword's Wikipedia Page</a> </p>
                    <p>Images from <a href="https://www.google.com/search?q=the+sword+band&espv=2&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi70tXToOnSAhVB5IMKHVlyB1YQ_AUICCgD&biw=663&bih=672">Google images</a> </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
