<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>We'll Go Machete</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static', filename='one-page-wonder.css') }} rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href={{ url_for('index') }}>Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style= "width:302px; background-color:#222222; border:none;">
                    <li>
                        <a href={{ url_for('about') }}>About</a>
                    </li>
                    <li>
                        <a href={{ url_for('bands') }}>Bands</a>
                    </li>
                    <li>
                        <a href={{ url_for('venues') }}>Venues</a>
                    </li>
                    <li>
                        <a href={{ url_for('festivals') }}>Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>We'll Go Machete</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/machetealbum.jpg">
            <h2 class="featurette-heading">About
            <span class="text-muted">We'll Go Machete</span>
            </h2>
            <p class="lead">We'll Go Machete specialize in the style of '90s post-hardcore rock that mixes Jawbox-style crunch with Quicksand-minded grit and higher-scale, upper register yells at the forefront with perfectly noodly, slightly spastic guitars laying the groundwork.   
            <br> <br>

            Last year, We'll Go Machete performed at <a href="../festival_folder/bio_levitation.html">Levitation</a>.    
            <br>
            <h3>Upcoming Shows</h3>
            Saturday, April 22nd @ 12PM at <a href = "bio_sidewinder.html">Sidewinder</a>
            </p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" height = "400" width="400" src="../../static/img/livemachete.jpg" >
            <h2 class="featurette-heading">Current
                <span class="text-muted">Members</span>
            </h2>
            <p class="lead">
                Rachel Fuhrer- Drums<br>
                Chris May- Bass<br>
                Paul Warner- Guitar & Vocals<br>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/machetesmile.jpg">
            <h2 class="featurette-heading">Discography
                <span class="text-muted">That you'll love</span>
            </h2>
            <p class="lead"><br>
                We'll Go Machete EP- 2009<br>
                Strong Drunk Hands- 2011<br>
                Smile Club- 2015<br>
</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <!--css style sheet for social media icons-->
                    <link rel="stylesheet" href={{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}>

                    <!-- Add font awesome icons -->
                    <p>Follow We'll Go Machete <br>     
                    <a href="https://www.facebook.com/gomachete" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/gomachete" class="fa fa-twitter"></a></p>
                    <p>Content and Images from <a href="https://www.facebook.com/gomachete/">The We'll Go Machete Facebook Page</a> </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
