<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Black Angels</title>
    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static', filename='one-page-wonder.css') }} rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href={{ url_for('index') }}>Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style= "width:302px; background-color:#222222; border:none;">
                    <li>
                        <a href={{ url_for('about') }}>About</a>
                    </li>
                    <li>
                        <a href={{ url_for('bands') }}>Bands</a>
                    </li>
                    <li>
                        <a href={{ url_for('venues') }}>Venues</a>
                    </li>
                    <li>
                        <a href={{ url_for('festivals') }}>Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>The Black Angels</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/aboutblackangels.png">
            <h2 class="featurette-heading">About
            <span class="text-muted">The Black Angels</span>
            </h2>
            <p class="lead">The Black Angels are an American psychedelic rock band from Austin, Texas. They have released four studio albums and one compilation album. Their name is derived from the Velvet Underground song "The Black Angel's Death Song".<br><br> Last year, The Sword headlined at <a href={{ url_for('bio', bio_name='fff') }}>FunFunFun Fest</a></p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" height = "400" width="400" src="../../static/img/membersblackangels.jpg" >
            <h2 class="featurette-heading">Current
                <span class="text-muted">Members</span>
            </h2>
            <p class="lead">Stephanie Bailey – drums, percussion, bass<br>
                            Christian Bland – guitar, vocals, bass, drums<br>
                            Alex Maas – vocals, bass, guitar, keyboards<br>
                            Kyle Hunt – keyboards, percussion, bass, guitar<br>
                            Jake Garcia – guitar, bass, vocals
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/songsblackangels.jpg">
            <h2 class="featurette-heading">Discography
                <span class="text-muted">That you'll love</span>
            </h2>
            <p class="lead"><b>EPs</b><br>
The Black Angels (Light in the Attic Records, 2005)<br>
Black Angel Exit (Light in the Attic Records, 2008)<br>
Phosgene Nightmare (Blue Horizon, 2011)<br>
Clear Lake Forest (Blue Horizon, 2014)<br>
<b>Compilations</b><br>
Another Nice Pair (Light in the Attic Records, compilation of first two EPs, 2011)<br>
<b>Singles</b><br>
"The First Vietnamese War" b/w "Nine Years" (released August 21, 2006)<br>
"Better Off Alone" b/w "Yesterday Always Knows" (released May 28, 2007)<br>
"Doves" b/w "Drone in G# Major" (released May 20, 2008)<br>
"Telephone" (released August 3, 2010)<br>
"Watch Out Boy" b/w "I'd Rather Be Lonely" (released April 21, 2012)<br>
"Don't Play With Guns" (released January 22, 2013)<br>
"Molly Moves My Generation" (released December 1, 2014)<br>
"Waterloo Waltz" (released January 20, 2015)<br>
"Currency" (released February 10th, 2017)<br>
<b>Soundtracks and other appearances</b><br>
"Natural Selection" from Where Did the Night Fall - With UNKLE (2010)<br>
"With You In My Head" from The Twilight Saga: Eclipse (soundtrack) - With UNKLE (2010)<br>
Spec Ops: The Line (Video Game) ("The First Vietnamese War" and "Bad Vibrations") (2012) </p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <link rel="stylesheet" href={{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}>

                    <!-- Add font awesome icons -->
                    <p>Follow Pushmonkey <br>     
                    <a href="https://www.facebook.com/theblackangels.tx/" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/theblackangels?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/theblackangels/?hl=en" class="fa fa-instagram"></a></p>
                    
                    <p>Content from <a href="https://en.wikipedia.org/wiki/The_Black_Angels_(band)#Discography">The Black Angel's Wikipedia Page</a> </p>
                    <p>Images from <a href="https://www.facebook.com/pg/pushmonkey.official">Pushmonkey's Facebook Page</a> </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
