<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Mohawk</title>

    <!-- Bootstrap Core CSS -->
    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static', filename='one-page-wonder.css') }} rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href={{ url_for('index') }}>Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style= "width:302px; background-color:#222222; border:none;">
                    <li>
                        <a href={{ url_for('about') }}>About</a>
                    </li>
                    <li>
                        <a href={{ url_for('bands') }}>Bands</a>
                    </li>
                    <li>
                        <a href={{ url_for('venues') }}>Venues</a>
                    </li>
                    <li>
                        <a href={{ url_for('festivals') }}>Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Cedar Street Courtyard</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/csc2.jpg">
            <h2 class="featurette-heading">About
            <span class="text-muted">Cedar Street Courtyard</span>
            </h2>
            <p class="lead">For 15 years Cedar Street Courtyard has been perfectly pairing two of Austin’s favorite indulgences: Nightly live music and sumptuous cocktails. Bands range from bluesy jazz groups with horns and a big band flare to celebrated local and touring artists to rockin’ 70’s and 80’s cover bands for pure party fun. For the past eight years, Cedar Street becomes a perennial SXSW hotspot, featuring some of the biggest acts in the world. Cedar Street is truly one of the reasons Austin is the live music capital of the world.
            <br>
            The sunken courtyard provides an intimate setting for guests to enjoy music nightly. Skilled bartenders shake up Austin’s best martinis and specialty drinks while offering a wide variety of beers and wines too. Cedar Street’s Main Lounge features a great selection of cigars which can be enjoyed in the open-air courtyard. The VIP Veranda is the perfect perch to enjoy a bird’s eye view of the band and a fresh cocktail is only a few steps away.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
         <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-right" height = "400" width="400" src="../../static/img/csc1.jpg" >
            <h2 class="featurette-heading">Looking for Festival featuring a
                <span class="text-muted">Similar Genre of Music?</span>
            </h2>
            <p class="lead">
                <a href="../festival_folder/bio_acl">Austin City Limits</a><br>
                </p>
        </div>

         <hr class="featurette-divider">


        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/csc3.jpg">
            <h2 class="featurette-heading">Upcoming Events
                <span class="text-muted">That you'll love</span>
            </h2>
            <p class="lead">
                <b>TERELL SHAHID</b><br>
                8PM - 12AM, MONDAY, APRIL 3<br>
                <b>CHRIS CASTANEDA</b><br>
                8PM - 12AM, TUESDAY, APRIL 4<br>
                <b>THE TEXASSIPPI TWO</b><br>
                6PM - 8PM, WEDNESDAY, APRIL 5<br>
                <b>SPAZMATICS</b><br>
                9:30PM - 1AM, WEDNESDAY, APRIL 5<br>
                <b>JOANNA LEE</b><br>
                6PM - 8PM, THURSDAY,  APRIL 6<br>
</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                     <!--css style sheet for social media icons-->
                    <link rel="stylesheet" href={{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}>

                    <!-- Add font awesome icons -->
                    <p>Follow Cedar Street Courtyard <br>
                    <a href="https://www.facebook.com/CedarStreetCourtyardAustin" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/cedarst" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/cedarstreet/" class="fa fa-instagram"></a></p>
                    <p>Content from <a href="http://cedarstreetaustin.com/">Cedar Street Austin</a> </p>
                    <p>Images from <a href="https://www.google.com/search?q=cedar+street+courtyard+austin&safe=off&rlz=1C1FERN_enUS603US603&espv=2&biw=1920&bih=901&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi6n_iSpJHTAhVO12MKHXL7BdEQ_AUICCgD">Google images</a> </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
