<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Levitation</title>

    <!-- Bootstrap Core CSS -->
    <link href="../biofolder/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../biofolder/css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href="../index.html">Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../about.html">About</a>
                    </li>
                    <li>
                        <a href="../bands.html">Bands</a>
                    </li>
                    <li>
                        <a href="../venues.html">Venues</a>
                    </li>
                    <li>
                        <a href="../festivals.html">Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Levitation Fest</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="lmf1.png">
            <h2 class="featurette-heading">About
            <span class="text-muted">Levitation Fest</span>
            </h2>
            <p class="lead">Levitation (formerly Austin Psych Fest) is an annual 3-day music festival developed and produced by The Reverberation Appreciation Society.[1] Since its sixth year in 2013 it has been held at Carson Creek Ranch in Austin, Texas. Inspired by the creative explosion of the 1960s, as well as by festivals such as ATP and Primavera Sound, they set out to create their vision of a music festival.
            <br>
            <br>
            Over the years, this independent festival has grown to an internationally acclaimed, full weekend event that attracts attendees from all over the world. In 2015 Austin Psych Fest was renamed LEVITATION in honor of Austin’s legendary psychedelic rock godfathers The 13th Floor Elevators.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" height = "400" width="400" src="lmf2.jpg" >
            <h2 class="featurette-heading">Time of Year
                <span class="text-muted">& Avg. Ticket Price</span>
            </h2>
            <p class="lead">
                Levitation Fest takes place at the late spring each year, generally in late April.
                <br>
                <br>
                Because Levitation Fest is on a hiatus for the 2017 year, prices are not listed. Check back next year!</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="lf3.jpg">
            <h2 class="featurette-heading">Past Headliners
                <span class="text-muted">That you'll love</span>
            </h2>
            <p class="lead"><b> 2016 </b><br>
                            1. Slow Dive <br>
                            2. Flying Lotus<br>
                            3. Brian Wilson  <br>
                            4. Ween <br>
                            5. Caribou <br>
                            6. Animal Collective <br>
                            7. <a href="../biofolder/bio_machete.html">We'll Go Machete</a><br>
                            <br>
                            <b>2015</b>
                            <br>  1. The 13th Floor Elevators<br>
                            2. The Flaming Lips <br>
                            3. Tame Impala<br>
                            4. Primal Scream<br>
                            5. Spritiualized<br>
                            5. The Jesus and Mary Chain <br>
                            7. Thee Oh Sees<br>
                            6. The Black Angels<br>
                            <br>
                            <b> 2014 </b><br>
                            1. The Dandy Warhols <br>
                            2. The Zombies <br>
                            3. Black Lips <br>
                            4. Acid Mothers Temple<br>
                            5. Graveyard <br>
                            6. Shannon and the Clams <br>
                            7. King Gizzard and the Lizard Wizard <br>
            </p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Content from <a href="https://en.wikipedia.org/wiki/Levitation_(festival)">Levitations' Wikipedia Page</a> and <a href="http://levitation-austin.com/">Levitation's Official Web Page</a></p>
                    <p>Images from <a href="https://www.google.com/search?q=levitation+fest&rlz=1C5CHFA_enUS727US727&espv=2&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi5n6HqiJHTAhVkwYMKHXfTDD4Q_AUICCgD&biw=1256&bih=676&dpr=2">Google Images</a> </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
