<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Austin Food and Wine Festival</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static', filename='one-page-wonder.css') }} rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href={{ url_for('index') }}>Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style= "width:302px; background-color:#222222; border:none;">
                    <li>
                        <a href={{ url_for('about') }}>About</a>
                    </li>
                    <li>
                        <a href={{ url_for('bands') }}>Bands</a>
                    </li>
                    <li>
                        <a href={{ url_for('venues') }}>Venues</a>
                    </li>
                    <li>
                        <a href={{ url_for('festivals') }}>Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Austin Food and Wine Festival</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/images/fwf2.jpg">
            <h2 class="featurette-heading">About
            <span class="text-muted">Austin Food and Wine Festival</span>
            </h2>
            <p class="lead">The Austin Food & Wine Festival was presented for the first time April 27–29, 2012, after the Texas Hill Country Wine and Food Festival, which had been held in Austin for 26 years, "transitioned" into the Austin Food & Wine Alliance[1][2][3] as a nonprofit organization.
            <br>
            <br>
            The Austin Food and Wine Festival will benefit the nonprofit Austin Food & Wine Alliance, which is "dedicated to fostering awareness in the Central Texas culinary community through grants, educational programming and events."[2][8] The Alliance will offer three grants totaling $20,000 to Central Texas "beverage artisans, producers, culinary professionals" or to people who "represent a culinary/food-focused non-profit." They are to be awarded on December 12, 2012, at the AT&T Executive Education and Conference Center at the McCombs School of Business in Austin.[8]</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" height = "400" width="400" src="../../static/images/fwf1.jpg" >
            <h2 class="featurette-heading">Time of Year
                <span class="text-muted">& Avg. Ticket Price</span>
            </h2>
            <p class="lead">
                Austin Food and Wine Festival takes place at the late spring each year, generally in late April.
                <br>
                <br>
                The "All-In" Ticket option with Tim Love Grilins is $625 and "Weekender" Ticket option with the Warrior Gospel Band is $250.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/images/fwf3.jpg">
            <h2 class="featurette-heading">Past Headliners
                <span class="text-muted">That you'll love</span>
            </h2>
            <p class="lead"><b>2016</b>
                            <br>  1. Masaharu Morimoto <br>
                            2. Marcus Samuelsson <br>
                            3. <a href={{ url_for('bio', bio_name='cosms') }}>COSMS</a><br>
                            4. Gail Simmons<br>
                            5. Tyson Cole<br>
                            6. Andrew Zimmern <br>
                            7. Aaron Franklin <br>
                            8. Paul Qui <br>
                            9. Adam Richman<br>
                            10. Christina Tosi<br>
            </p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Content from <a href={{ url_for('static', filename='https://en.wikipedia.org/wiki/Austin_Food_%26_Wine_Festival') }}>Austin Food and Wine Festival's Wikipedia Page</a> and <a href="https://www.austinfoodandwinefestival.com/">AustinFoodandWineFestival.com</a></p>
                    <p>Images from <a href="https://www.google.com/search?q=austin+food+and+wine+festival&rlz=1C5CHFA_enUS727US727&espv=2&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiHgaK3iJHTAhUj8IMKHYc_AQgQ_AUIBygC&biw=1256&bih=676">Google Images</a> </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
