<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magna Carda</title>
    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static', filename='one-page-wonder.css') }} rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href={{ url_for('index') }}>Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style= "width:302px; background-color:#222222; border:none;">
                    <li>
                        <a href={{ url_for('about') }}>About</a>
                    </li>
                    <li>
                        <a href={{ url_for('bands') }}>Bands</a>
                    </li>
                    <li>
                        <a href={{ url_for('venues') }}>Venues</a>
                    </li>
                    <li>
                        <a href={{ url_for('festivals') }}>Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Magna Carda</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/aboutmagnacarda.jpg">
            <h2 class="featurette-heading">About
            <span class="text-muted">Magna Carda</span>
            </h2>
            <p class="lead">From their humble beginnings on a college campus four years ago, Magna Carda has steadily risen to the top of the Austin music scene as the premiere hip hop act of 2016. Described by Mashable as “Austin’s answer to The Roots,” Magna Carda is led by the city’s most dynamic MC-producer duo — Megz Kelli and Dougie Do — whose work pairs like a fine wine with the meat-and-potatoes backbone of the group’s signature live instrumentation. With their genre-defying blend of rap-meets-jazz-meets-R&B-meets-electronic, the band has quickly captured the imagination of listeners and the attention of critics alike in Austin and beyond.<br><br>

            After forming as a rapper/producer duo on the campus of Austin’s St. Edward’s University in 2012, Megz Kelli and Dougie Do set their sights on developing a new sound that would make use of both live musicianship and studio production. In 2014, the duo began working with drummer Michael Gonzales alongside longtime guitarist and collaborator Eric “The Greek” Nikolaides. Since then, the band has been at the forefront of Austin’s burgeoning hip hop scene, and has shared the stage with hip hop’s biggest names from The Pharcyde and Joey Bada$$ to Chali 2na and Oddisee. Magna Carda’s unique sound has attracted the attention of NPR among other regional and national press.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" height = "400" width="400" src="../../static/img/magnacardamembers.jpg" >
            <h2 class="featurette-heading">Current
                <span class="text-muted">Members</span>
            </h2>
            <p class="lead">Megz Kelli– performer/songwriter<br>
                            Dougie Do - producer/keys<br>
                            Michael Gonzales - drums/producer<br>
                            Eric Nikolaides - guitarist<br>
                            Andrew Schindler - guitarist<br>
                            Matt Weatherly - bassist
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/magnacardadiscography.jpg">
            <h2 class="featurette-heading">Discography
                <span class="text-muted">That you'll love</span>
            </h2>
            <p class="lead">Cirqlation (2016)<br>
                            Like It Is (2014)<br>
                            Van  (2014)<br>
                            Shoe String Theory (2012)<br>
                            Creature Creative (2011)</p>
        </div>

        <hr class="featurette-divider">

        <!-- Fourth Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" height = "400" width="400" src="../../static/img/magnacardashows.jpg" >
            <h2 class="featurette-heading">Past and Present
                <span class="text-muted">Austin Shows</span>
            </h2>
            <p class="lead"><b><a href={{ url_for('bio', bio_name='euphoria') }}>EUPHORIA</a></b><br>
                April 7, 2017<br>
                Carson Creek Ranch<br>
                Austin, Texas <br><br>
                <b><a href={{ url_for('bio', bio_name='acl') }}>ACL MUSIC FESTIVAL</a></b><br>
                Performed on October 8, 2016<br>
                Austin, Texas<br>
                <b><a href={{ url_for('bio', bio_name='parish') }}>PARISH</a></b><br>
                September 16, 2016<br>
                Austin, Texas
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <!--css style sheet for social media icons-->
                    <link rel="stylesheet" href={{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}>
                    <!-- Add font awesome icons -->
                    <p>Follow Parish <br>     
                    <a href="https://www.facebook.com/magnacarda/" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/MagnaCarda" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/magnacarda/" class="fa fa-instagram"></a></p>
                    <p>Content from <a href="http://magnacardamusic.com/">Magna Carda's Official Website</a> </p>
                    <p>Images from <a href="https://www.google.com/search?q=magna+carda+austin&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjpwevk1JDTAhVB6GMKHYDBBXIQ_AUICygE&biw=1201&bih=724">Google images</a> </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
