<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Skylark Lounge</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static', filename='one-page-wonder.css') }} rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href={{ url_for('index') }}>Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style= "width:302px; background-color:#222222; border:none;">
                    <li>
                        <a href={{ url_for('about') }}>About</a>
                    </li>
                    <li>
                        <a href={{ url_for('bands') }}>Bands</a>
                    </li>
                    <li>
                        <a href={{ url_for('venues') }}>Venues</a>
                    </li>
                    <li>
                        <a href={{ url_for('festivals') }}>Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Skylark Lounge</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/skylarkmain.jpg">
            <h2 class="featurette-heading">About
            <span class="text-muted">Skylark Lounge</span>
            </h2>
            <p class="lead">Acclaimed as Austin's best blues bar featuring only Austin's best local bands, Skylark Lounge is nothing short of a local favorite with secluded booths and its own outdoor patio and game room. Modern Jazz and happy hours with nightly full bars fuse for a memorable mix on any night you're looking to have fun with your friends. The vibe is dark and groovy with super sound and an enjoyable unique atmosphere.<p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" height = "400" width="400" src="../../static/img/skylarkvenue.jpg" >
            <h2 class="featurette-heading">Skylark
                <span class="text-muted">In the Press</span>
            </h2>
            <p class="lead"><b> Business Insider </b> - "The Best Bar in Every State, According to Yelp"<br>
                            <b> Maxim Magazine </b> - "How To Do SXSW Right Without a Ticket"<br>
                            <b> Community Impact Newspaper</b> - "... aims to preserve East Austin history..."<br>
                            <b> Austin Chronicle | Awards </b> - "Best Real-Life, Locally Sourced Bar Rescue"<br>
                            <b> Austin American Statesman | Austin 360 </b> - "Warm Homage to East Austin Heritage"<br></p>
        </div>

        <hr class="featurette-divider">


       <!-- Third Featurette -->
        <div class="featurette" id="services">
           <img class="featurette-image img-circle img-responsive pull-right" height = "400" width="400" src="../../static/img/urbanlink.jpg" >
           <h2 class="featurette-heading">Looking for Festival featuring a
               <span class="text-muted">Similar Genre of Music?</span>
           </h2>
           <p class="lead">
               <a href={{ url_for('bio', bio_name='urban_music_fest') }}>Urban Music Fest</a><br>
               </p>
       </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/img/skylarkevents.jpg">
            <h2 class="featurette-heading">Upcoming Groove
                <span class="text-muted">That'll Make You Swoon</span>
            </h2>
            <p class="lead"><b>Happy Hour with The Legendary Margaret Wright</b><br>Every Thursday and Friday - “ 6-8p | Winner of Austin Chronicle's Best Happy Hour Lounge Act 2013<br>
                            <b> Greg Izor</b><br> 3/23 - 9p | A mash-up of Louisiana grit, Austin soul, and low-down Chicago heat, blues harmonica powerhouse Greg Izor is on a roll. Izor’s music is grounded in a deeply rooted traditional sound and shaped by the influence of the harmonica masters, as well as Louisiana blues, southern soul, swamp pop, early jazz, and RB.
<br>
                            <b> Oscar Ornelas</b><br> 3/24 - 9p | Oscar Ornelas is a multi-instrumentalist (piano and saxophone) from San Angelo, Texas. He has been performing for over 20 years. He currently resides and performs in Austin, Texas.
<br>
                            <b> Austin Heat</b><br> 3/25 - 10p | The Heat’s rhythm section, Dexter Walker (drums) and Freddie Marshall (bass) are seasoned Austin musicians, having played and toured with the greats and part of the band that originated Austin’s cherished “Blues On The Green.” On keyboards, Small Don Burrows is a lifelong musician and songwriter and the band’s spiritual advisor, for sure. It’s as eccentric and paradoxical a grouping as it looks and seems, but a half a decade of dedication and camaraderie has propelled Austin Heat to higher and higher altitudes with every coming month.
<br>
                            <b> WhoDo</b><br> 3/26 - 6p | It’s enough of a task to come to grips with Mr. Wright’s skills at the keyboard and ability to go long and glorious — last spring he wrote a heave about Carlos Slim, the Mexican mogul who bought a piece of a certain little newspaper — but now we find out he pounds a keyboard that makes music as well.
<br>
                            <b> Open Mic Night followed by Dickie Lee Erwin </b><br> Every Tuesday - 5p | What's better than no cover and free parking to express the rhythms of your soul<br>
                            <b> Paul Klemperer (Jazz Wednesdays) </b><br> 3/29 - 8p | Rhythm and melody fuse as Paul and his Guest Vocalists make for a fun Wednesday night.
</p>
        </div>


        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <link rel="stylesheet" href={{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}>

                    <!-- Add font awesome icons -->
                    <p>Follow The Skylark Lounge <br>
                    <a href="https://www.facebook.com/TheSkylarkLounge" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/SkylarkAustin" class="fa fa-twitter"></a>
                    <a href="https://www.pinterest.com/livemusicaustin/" class="fa fa-instagram"></a></p>

                    <p>Content and images from <a href="http://skylarkaustin.com/">Skylark Lounge's Official Website</a> </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
