<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Urban Music Festival</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static', filename='one-page-wonder.css') }} rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href={{ url_for('index') }}>Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style= "width:302px; background-color:#222222; border:none;">
                    <li>
                        <a href={{ url_for('about') }}>About</a>
                    </li>
                    <li>
                        <a href={{ url_for('bands') }}>Bands</a>
                    </li>
                    <li>
                        <a href={{ url_for('venues') }}>Venues</a>
                    </li>
                    <li>
                        <a href={{ url_for('festivals') }}>Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Urban Music Festival</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/images/umf3.jpg">
            <h2 class="featurette-heading">About
            <span class="text-muted">Urban Music Fest</span>
            </h2>
            <p class="lead">Urban Music Festival (often abbreviated as "AUMF") is a two-day, national and local entertainment stage hosting, family-centric event that occurs in Austin, Texas, during the Clyde Littlefield Texas Relays. The festival features stages that focus specifically on R&B, Jazz, Indie Soul, gospel / neo soul, and showcases local and unsigned artists.
              <br>
              <br>
              The UMF proudly plays a significant role in its local community as a part of the Austin Quality of Life Initiative. The UMF is focused on breaking new boundaries each year and will continue to do so as it aims to reach the hearts and minds of Urban music lovers where ever they may be, all are welcomed to join in the fun!          
              <br> <br> Missing out on Urban Music Festival? Check out <a href={{ url_for('bio', bio_name='parish') }}>Parish</a>, <a href={{ url_for('bio', bio_name='spiderhouse') }}>Spider House Cafe</a>, or <a href={{ url_for('bio', bio_name='emos') }}>Emo's Austin</a> for related music.  </div> </p> 

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" height = "400" width="400" src="../../static/images/umf2.jpg" >
            <h2 class="featurette-heading">Time of Year
                <span class="text-muted">& Avg. Ticket Price</span>
            </h2>
            <p class="lead">
                ACL takes place at the end of spring each year, generally first week of April at Town Lake Auditorium Shores.
                <br>
                <br>
                Tickets are approximately $30 for each day of the fest.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" height = "500" width="500" src="../../static/images/umf3.png">
            <h2 class="featurette-heading">Past Headliners
                <span class="text-muted">That you'll love</span>
            </h2>
            <p class="lead"><b>2016</b>
                            <br>  1. Black Street <br>
                            2. Eric Benet <br>
                            3. Doug E. Fresh <br>
                            4. <a href={{ url_for('bio', bio_name='pinko') }}>P I N K O</a>
            </p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Content from <a href={{ url_for('static', filename='https://en.wikipedia.org/wiki/Urban_Music_Festival') }}>Urban Music Fest's Wikipedia Page</a> and <a href="http://urbanmusicfest.com/">UrbanMusicFest.com</a></p>
                    <p>Images from <a href="https://www.google.com/search?q=Urban+Music+Festival&rlz=1C5CHFA_enUS727US727&espv=2&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiTv8r1iZHTAhUJ0IMKHZrqCS8Q_AUICCgD&biw=1256&bih=676">Google Images</a> </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

</body>

</html>
