<!DOCTYPE HTML>
<html>
<head>
<link rel = "stylesheet" title = "basic style" type = "text/css" href = {{ url_for('static', filename='backbone.css') }} media = "all"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jam On!</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for ('static', filename='full-slider.css') }} rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 4em" href={{ url_for('index') }}>Jam Austin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style= "width:302px; background-color:#222222; border:none;">
                    <li>
                        <a href={{ url_for('about') }}>About</a>
                    </li>
                    <li>
                        <a href={{ url_for('bands') }}>Bands</a>
                    </li>
                    <li>
                        <a href={{ url_for('venues') }}>Venues</a>
                    </li>
                    <li>
                        <a href={{ url_for('festivals') }}>Festivals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	

	<br>
	<br>
	<center>
	<h2>Members</h2>
	</center>
	<br>
	<div class="background"></div>
	<div class="container-fluid layer">
		<div class="row">
			<div class="members" style="padding-left:15px; padding-right:15px; font-size:120%;">
				<center>
				<h3>Reshma Ahuja</h3>
				<img class="img_circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAANSAAAAJGIwZjNiY2I2LWZkNjktNDhlYy05MzNjLTRiOTIzODk5ZWNlNQ.jpg" alt="Reshma">
				</center>
				<br>
				<br>
				<p>
					<b>Bio:</b> 
					Dancer and traveler. 
					<br>
					<b>Major Responsibilities:</b> 
					Bands, Festivals, and Venue Pages, CSS formatting, Technical Report
					<br>
					<b>Commits: 52 | Issues: 3</b>
				</p>	
			</div>

			<div class="members" style="padding-left:25px; padding-right:15px; font-size:120%;">
				<center>
				<h3>Kristian DeVito</h3>
				<img class="img_circle" src="static/images/kristian_profile.jpg" alt="Kristian">
				</center>
				<br>
				<br>
				<p>
					<b>Bio:</b> 
					Outdoor explorer & brunch enthusiast.
					<br>
					<b>Major Responsibilities:</b>
					<br>
					About Page & Festivals Page
					<br>
					<b>Commits: 86 | Issues: 20</b>
				</p>				
			</div>

			<div class="members" style="padding-left:15px; padding-right:15px; font-size:120%;">
				<center>
				<h3>Thomas Wilczek</h3>
				<img class="img_circle" src="static/images/tommy_profile.png" alt="Thomas">
				</center>
				<br>
				<br>
				<p>
					<b>Bio:</b>
					Bootstrap is my Bible
					<br>
					<b>Major Responsibilities: </b>
					Splash page, formatted bio pages, band bio pages. JavaScript aficionado.
					<br>
					<b>Commits: 65 | Issues: 19</b>
				</p>
			</div>

			<div class="members" style="padding-left:15px; padding-right:15px; font-size:120%;">
				<center>
				<h3>Russell Sherrill</h3>
				<img class="img_circle" src="static/images/russell_profile.jpg" alt="Russell">
				</center>
				<br>
				<br>
				<p>

					
					<b>Bio:</b> Enjoys long walks on the beach and sleeping in.
					<br>
					<b>Major Responsibilities:</b> Set up network of HTML pages, worked on CSS and did outline for paper.

					<br>
					<b>Commits: 40 <b>| Issues:</b>2</b>
				</p>
			</div>

			<div class="members" style="padding-left:15px; padding-right:15px; font-size:120%;">
				<center>
				<h3>Amar Sheth</h3>
				<img class="img_circle" src="static/images/amar_profile.jpg" alt="Thomas">
				</center>
				<br>
				<br>
				<p>
					<b>Bio:</b> A not-so-boring aspiring physician looking to solve problems in healthcare with technology!
					<br>
					<b>Major Responsibilities: </b>The Venues pages and working on formal report
					<br>
					<b>Commits: 22 | <b>Issues:</b>2</b>
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="container-fluid">
		<div class="row stats">
			<div class="col-md-4">
				<h2>Stats</h2>
				<h4>
				        Total no. of issues: 46
					<br>
					<a href="https://github.com/khdevito/khdevito.github.io/issues">GitHub Issue Tracker</a>
					<br>
					<a href="https://github.com/khdevito/khdevito.github.io">GitHub Repo</a>
					<br>
					<a href="https://github.com/khdevito/khdevito.github.io/wiki">GitHub Wiki</a>
					<br>
					<a href="https://speakerdeck.com/cachemeoutside">Speaker Deck</a>
				</h4>
			</div>
		</div>
	</div>
	<hr>
	<div class = "container-fluid">
		<div class="row">
			<div class="col-md-4">
				<h2>Tools</h2>
				<h4>
					Slack
					<br>
					Github
					<br>
					Bootstrap
				</h4>
			</div>
		</div>
	</div>


	</div>		
	
</body>
</html>
